<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--创建jdbc数据源 -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="${spring.datasource.driver-class-name}" />
        <property name="url" value="${spring.datasource.url}" />
        <property name="username" value="${spring.datasource.username}" />
        <property name="password" value="${spring.datasource.password}" />
        <!-- 初始化连接大小 -->
        <property name="initialSize" value="${spring.datasource.initialSize}" />
        <!-- 连接池最大空闲 -->
        <property name="maxIdle" value="${spring.datasource.maxActive}" />
        <!-- 连接池最小空闲 -->
        <property name="minIdle" value="${spring.datasource.minIdle}" />
        <!-- 最大等待连接时间 -->
        <property name="maxWait" value="${spring.datasource.maxWait}" />
        <!-- some positive integer -->
        <property name="timeBetweenEvictionRunsMillis" value="${spring.datasource.timeBetweenEvictionRunsMillis}" />
        <!-- 最大等待连接时间 -->
        <property name="minEvictableIdleTimeMillis" value="${spring.datasource.minEvictableIdleTimeMillis}" />
    </bean>
</beans>