<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guanshan.nlp.webapp.dao.ModelDao">

    <resultMap id="ModelMap" type="com.guanshan.nlp.webapp.shared.entity.Model">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="date" column="date" />
    </resultMap>

    <select id="getByName" resultMap="ModelMap" resultType="com.guanshan.nlp.webapp.shared.entity.Model">
        SELECT *
        FROM MODEL
        WHERE NAME = #{modelName}
    </select>




</mapper>